<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712767497691-tmc9vo14c2c6s85158o9qbmsni3da2s9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712767497691-tmc9vo14c2c6s85158o9qbmsni3da2s9</string>
	<key>API_KEY</key>
	<string>AIzaSyDeUHkTm7kZolIK5YjmjIRNtBcGJS0FW_g</string>
	<key>GCM_SENDER_ID</key>
	<string>712767497691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bleapplications.lcconnect</string>
	<key>PROJECT_ID</key>
	<string>ble-connector-5ddf2</string>
	<key>STORAGE_BUCKET</key>
	<string>ble-connector-5ddf2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712767497691:ios:1c29016ea50b395d2173fe</string>
</dict>
</plist>
